{% extends 'base.html.twig' %}

{% block custom_styles %}
 <link href="assets/css/style.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center container container1">
    <img src="assets/img/logo.png" class="logo">
</div>
<div class="container">
    <!-- Top Component-->
    <div class="container themed-container">
        <div class="mb-3">
            <label for="formFile" class="form-label">Choose file to import data</label>
            <input class="form-control" type="file" id="formFile">
        </div>
    </div>
    <div class="row mb-3">
        <!-- Left Column-->
        <div class="col-sm-6 col-lg-8 themed-grid-col">.col-sm-6 .col-lg-8</div>
        <!-- Right Column-->
        <div class="col-6 col-lg-4 themed-grid-col">.col-6 .col-lg-4</div>
    </div>
</div>
{% endblock %}