{% extends 'base.html.twig' %}

{% block custom_styles %}
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css" rel="stylesheet">
 <link href="assets/css/style.css" rel="stylesheet">
{% endblock %}
{% block vendorjs %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js" ></script>
    <script src="assets/js/script.js" ></script>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center container container1">
    <img src="assets/img/logo.png" class="logo">
</div>
<div class="container">
    <!-- Top Component-->
    <div class="container themed-container">
        <div class="row mb-3">            
            <!--<div class="col-sm-6 col-lg-9"> 
                <input class="form-control" type="file" id="formFile" accept=".json,.xml" />
            </div> !-->
            <div class="col-6 col-lg-3">
                <button type="button" class="btn btn-primary" id="import">Import
                </button>
            </div>
            
        </div>
    </div>
    <div class="row mb-3">
        <!-- Left Column-->
        <div class="col-sm-6 col-lg-6 themed-container">
            <div class="row mb-3">
                <div class="col-sm-6 col-lg-9">
                    <label for="startDate">Start Date</label>
                    <input id="startDate" class="form-control" type="text" autocomplete="off" />
                </div>
                <div class="col-sm-6 col-lg-9">
                    <label for="endDate">End Date</label>
                    <input id="endDate" class="form-control" type="text" readonly />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-9 col-lg-9 bd-example">
                    <p><b>Pax</b>: Min: 
                        <span class="badge bg-secondary paxmin">0</span> - Avg: 
                        <span class="badge bg-secondary paxavg">0</span> - Max: 
                        <span class="badge bg-secondary paxmax">0</span>
                    </p>
                    <br/>
                    <p><b>Total</b>: Min: 
                        <span class="badge bg-secondary totalmin">0</span>- Avg: 
                        <span class="badge bg-secondary totalavg">0</span> - Max: 
                        <span class="badge bg-secondary totalmax">0</span>
                    </p>
                    
                </div>
                
                <div class="col-sm-3 col-lg-3 d-flex justify-content-center align-items-center">
                    <div class="spinner-border" role="status" id="spinner" aria-hidden="true">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right Column-->
        <div class="col-6 col-lg-6 container themed-container logs">
            <ul class="list-group" id="logs"></ul>
        </div>
    </div>
</div>
{% endblock %}